@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    color:rgb(65,65,65);
    overflow-x: hidden;
}

/* ========================================================== Navbar Section start =========================================================== */
.navbar{
    width:100%;
    height:80px;
    background-color: rgb(245,245,245);
    display: flex;
    padding-left: 168px;
    position: fixed;
    z-index: 2;
    box-shadow: 3px 3px 3px rgb(245,245,245);
}
.navbar .logo{
    width:44%;
}
.navbar div:nth-child(1) img{
    width: 100px;
    height:100%;
}
.navbar .navlist{
    width:52%;
    height:100%;
    padding-top: 30px;
}
.navlist .list-item{
    display: flex;
    width: 100%;
    height:100%;
}
.navlist .item{
    margin-right:40px;
    font-size: 17px;
    width:fit-content;
    color:rgb(175,175,175);
}
.navlist  .list-item .item div:nth-child(1){
    position: absolute;
    width:0px;
    height:2px;
    background-color:rgb(175,175,175);
    margin-top: 12px;
}
.navlist  .list-item .item:hover div:nth-child(1){
    width:60px;
    transition: all 0.6s ease-in-out;
    cursor: pointer;
}
.navlist  .list-item .item div:nth-child(2){
    width: 100%;
}
/* ========================================================== Navbar Section End =========================================================== */

/* ========================================================== Home Section End =========================================================== */
.home{
    display:flex;
    width:100%;
    background-color:rgb(245,245,245);
    padding-top:100px;
}
.home div:nth-child(1){
    width:50%;
    padding-top: 200px;
    justify-content: center;
    align-items: center;
    padding-left: 183px;
}
.home div:nth-child(1) h4{
    line-height: 30px;
    font-size: 25px;
    color: rgb(145,145,145);
    margin-bottom:5px;
}
.home div:nth-child(1) h1{
    font-size: 45px;
}
.home div:nth-child(1) p{
    line-height: 30px;
    margin-bottom: 20px;
    color: rgb(145,145,145);
}
.home div:nth-child(1) button{
    height: 55px;
    width:180px;
    border-radius: 5px;
    font-size: 20px;
    background: none;
    background-color: rgb(57,57,57);
    color:white;
    margin-top: 20px;
    cursor: pointer;
}
.home div:nth-child(1) button:hover{
    background-color: rgb(0, 0, 0);
}
.home div:nth-child(2){
    width:50%;
    padding-left: 126px;
}
.home div:nth-child(2) img{
    height:630px;
    filter:grayscale(1)
}

/* ========================================================== Home Section End =========================================================== */



/* ========================================================== About Section Start =========================================================== */
.about{
    width:100%;
    background-color: white;
    padding-top: 70px;
    padding-bottom: 70px;
}
.about .about-head{
    text-align: center;
    justify-items: center;
    margin: auto;
}
.about .about-head div:nth-child(2){
    width:40px;
    height:2px;
    background-color: rgb(222, 213, 213);
    margin:auto;

}
.about .about-head div:nth-child(3){
    width:80px;
    height:2px;
    background-color: rgb(222, 213, 213);
    margin:auto;
    margin-top: 3px;
}

.about .about-content{
    display:flex;
    width: 76%;
    margin: auto;
}
.about .about-content div:nth-child(1){
    width:48%;
    padding-top: 60px;
}
.about .about-content div:nth-child(1) h3{
    font-size: 25px;
    margin-bottom: 20px;
}
.about .about-content div:nth-child(1) p{
    text-align: justify;
    color:rgb(145,145,145);
}
.about .about-content div:nth-child(1) button{
    width:200px;
    height:50px;
    font-size: 15px;
    border-radius: 5px;
    background: none;
    background-color: rgb(57,57,57);
    color:white;
    margin-top: 30px;
    cursor: pointer;
}
.about .about-content div:nth-child(1) button:hover{
    background-color: rgb(0, 0, 0);
}
.about .about-content .progress-bar{
    width:39%;
    padding-left:50px ;
    padding-top: 60px;
}
.about .about-content .progress-bar p:nth-child(2),p:nth-child(6),p:nth-child(10){
    text-align: right;
    margin-top: -23px;
}
.about .about-content .progress-bar  div:nth-child(4n){
    width:400px;
    height:8px;
    background: rgb(245,245,245);
    border-radius: 4px;
    margin-bottom: 30px;
    overflow: hidden;
}
.about .about-content .progress-bar div:nth-child(4n) div{
    height:100%;
    width:0%;
    /* background: linear-gradient(to left,rgb(245,245,245) 50%,rgb(65,65,65) 50%); */
    background: rgb(65,65,65);
}
.about .about-content .progress-bar span{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: rgb(65,65,65);
    display: block;
    box-shadow: 0px 0px 0px 4px rgb(163, 157, 157);
    margin-bottom: -12px;
    margin-left: 0px;
    position: relative
}
.about:hover .about-content .progress-bar div:nth-child(4) div{
    width:85%;
    transition: all 1s ease-in-out;
}
.about:hover .about-content .progress-bar div:nth-child(8) div{
    width:90%;
    transition: all 1s ease-in-out;
}
.about:hover .about-content .progress-bar div:nth-child(12) div{
    width:60%;
    transition: all 1s ease-in-out;
}
.about:hover .about-content .progress-bar span:nth-child(3){
    margin-left: 330px;
    transition: all 1s ease-in-out;
}
.about:hover .about-content .progress-bar span:nth-child(7){
    margin-left: 350px;
    transition: all 1s ease-in-out;
}
.about:hover .about-content .progress-bar span:nth-child(11){
    margin-left: 240px;
    transition: all 1s ease-in-out;
}

/* ========================================================== About Section End =========================================================== */

/* ========================================================== Experience Section Start =========================================================== */

.experience{
    width:100%;
    background-color:rgb(245,245,245);
    padding-top: 100px;
    padding-bottom: 100px;
}
.experience-head{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.experience-head div:nth-child(2){
    width:40px;
    height:2px;
    background-color: rgb(222, 213, 213);
    margin:auto;
}
.experience-head div:nth-child(3){
    width:80px;
    height:2px;
    background-color: rgb(222, 213, 213);
    margin:auto;
    margin-top: 3px;
}
.experience-content{
    display:flex;
    width:76%;
    margin: auto;
    box-sizing: border-box;
    padding-top: 80px;
}
.experience-content .content-column{
    width: 50%;
}
.experience-content .content1{
    display:flex;
    width:100%;
    padding-bottom: 80px;
}
.experience-content .content1 div:nth-child(1){
    width:177px;
    margin-right: 10px;
}
.experience-content .content1 div:nth-child(1) p:nth-child(2){
    color:rgb(175,175,175);
}
.experience-content .content1 .content1-i{
    display:flex;
    padding-left: 30px;
}
.experience-content .content1 i{
    margin-top: 7px;
    font-size: 20px;
    margin-right: 10px;
}
.experience-content .content1 span{
    position: absolute;
    width:2px;
    height:152px;
    margin-top: 27px;
    margin-left: 9px;
    border-left:3px dashed rgb(175,175,175);
}
.experience-content .content1 .content1-i h4{
    font-size:22px;
}
.experience-content .content1 .content1-i p{
    font-size:15px;
    color:rgb(145,145,145);
    margin-top: 12px;
}
.experience-content .content-column:nth-child(2){
    width: 50%;
    padding-left: 30px;
}

/* ========================================================== Experience Section End =========================================================== */


/* ========================================================== Portfolio Section start =========================================================== */
.portfolio{
    box-sizing: border-box;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
}

.portfolio-head{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.portfolio-head div:nth-child(2){
    width:40px;
    height:2px;
    background-color: rgb(222, 213, 213);
    margin:auto;
}
.portfolio-head div:nth-child(3){
    width:80px;
    height:2px;
    background-color: rgb(222, 213, 213);
    margin:auto;
    margin-top: 3px;
}

.portfolio-nav{
    width:29%;
    margin:auto;
    text-align: center;
    margin-top: 40px;
}
.portfolio-nav .list-item{
    display:flex;
}
.portfolio-nav .list-item .item{
    width:fit-content;
    margin-right:30px;
    font-size: 15px;
    color:rgb(175,175,175);
    cursor: pointer;
}
.portfolio-nav .list-item .item div:nth-child(1){
    position: absolute;
    width:0px;
    height:2px;
    background-color:rgb(175,175,175);
    margin-top: 12px;
}
.portfolio-nav .list-item .item:hover div:nth-child(1){
    width:40px;
    transition: all 0.6s ease-in-out;
    cursor: pointer;
}


.projects{
    width:90%;
    margin: auto;
    display:flex;
    padding-top: 50px;
}
.projects .col{
    width:30%;
    margin: auto;
}
.projects .col .big{
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    box-sizing: border-box;
    max-width: 100%;
    min-width: 100%;
}
.projects .col .big div:nth-child(2){
    position: absolute;
    margin-top: -240px;
    margin-left: 140px;
    background-color: rgba(72, 76, 76, 0.3);
    width:50px;
    height:50px;
    padding-top:10px;
    padding-left: 5px;
    border-radius: 40px;
    opacity: 0%;
}
.projects .col .big div:nth-child(2) i{
    font-size: 30px;
}
.projects .col .big div:nth-child(3){
    position:absolute;
    margin-top:-40px;
    padding-left:25px;
    opacity: 0%;
}
.projects .col .big div:nth-child(3) p:nth-child(1){
    font-size: 23px;
    font-weight: 100;
}
.projects .col .big div:nth-child(3) p:nth-child(2){
    color:rgb(175,175,175);
}
.projects .col .big img{
    min-width:100%;
}
.projects .col .big:hover img{
    opacity: 0.6;
    transform:scale(1.5);
    transition: all 0.6s ease;
}
.projects .col .big:hover div:nth-child(2){
    opacity: 100%;
    transition: all 0.6s ease-in-out;
    cursor: pointer;
}
.projects .col .big:hover div:nth-child(3){
    opacity: 100%;
    margin-top: -70px;
    transition: all 0.6s ease-in-out;
}



.projects .col .small{
    width:100%;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 20px;
}
.projects .col .small img{
    width:100%;
}
.projects .col .small div:nth-child(2){
    position: absolute;
    margin-top: -135px;
    margin-left: 150px;
    background-color: rgba(72, 76, 76, 0.3);
    width:50px;
    height:50px;
    padding-top:10px;
    padding-left: 5px;
    border-radius: 40px;
    opacity: 0%;
}
.projects .col .small div:nth-child(2) i{
    font-size: 30px;
}
.projects .col .small div:nth-child(3){
    position:absolute;
    margin-top:-40px;
    padding-left:25px;
    opacity: 0%;
}
.projects .col .small div:nth-child(3) p:nth-child(1){
    font-size: 23px;
    font-weight: 100;
}
.projects .col .small div:nth-child(3) p:nth-child(2){
    color:rgb(175,175,175);
}
.projects .col .small:hover img{
    opacity: 0.6;
    transform:scale(1.5);
    transition: all 0.6s ease;
}
.projects .col .small:hover div:nth-child(2){
    opacity: 100%;
    transition: all 0.6s ease-in-out;
    cursor: pointer;
}
.projects .col .small:hover div:nth-child(3){
    opacity: 100%;
    margin-top: -70px;
    transition: all 0.6s ease-in-out;
}


/* ========================================================== Portfolio Section End =========================================================== */


/* ========================================================== Services Section Start =========================================================== */

.services{
    width: 100%;
    box-sizing: border-box;
    background-color:rgb(245,245,245);
    padding-top: 100px;
    padding-bottom: 100px;
}
.services-head{
    text-align: center;
    align-items: center;
    justify-content: center;
}
.services-head div:nth-child(2){
    width:40px;
    height:2px;
    background-color: rgb(222, 213, 213);
    margin:auto;
}

.services-head div:nth-child(3){
    width:80px;
    height:2px;
    background-color: rgb(222, 213, 213);
    margin:auto;
    margin-top: 3px;
}

.services-content{
    width:80%;
    margin: auto;
    display: flex;
    padding-top: 70px;
}
.services-content .box{
    box-shadow: 1px 0px 4px 2px rgb(219,219,219);
    margin-right: 20px;
    height:  300px;
    padding: 20px;
    padding-top: 70px;
    text-align: center;
    justify-items: center;
}
.services-content .box .icons{
    border: 1px solid rgb(222, 213, 213);
    border-radius: 50%;
    width:35px;
    height: 35px;
    padding-top: 7px;
    margin-left: 100px;
    margin-bottom: 20px;
}
.services-content .box .icons i{
    font-size: 21px;
    color: rgb(117,117,117);

}
.services-content .box h4{
    margin-bottom: 10px;
    font-size: 17px;
    color:rgb(117,117,117);
}
.services-content .box span{
    width: 53px;
    height: 2px;
    background-color: rgb(219,219,219);
    display: block;
    margin: auto;
    margin-bottom: 20px;
}
.services-content .box p{
    font-size: 14px;
    color:rgb(151,151,151);
}
.services-content .box:hover {
    box-shadow: 2px -1px 10px 2px rgb(198, 188, 188);
    transition: all 0.6s ease-in-out;
}
.services-content .box:hover .icons{
    background-color: rgb(57,57,57);
    color:white;
    box-shadow: 2px -2px 19px 2px rgb(219,219,219);
    transition: all 0.6s ease-in-out;
}
.services-content .box:hover .icons i{
    color: white;
}

/* ========================================================== Services Section End =========================================================== */

/* ========================================================== Testimonial Section start =========================================================== */
.testimonial{
    width: 100%;
    padding-top:100px ;
    padding-bottom: 100px;
}
.testimonial-head{
    text-align: center;
    align-items: center;
    justify-content: center;
}
.testimonial-head div:nth-child(2){
    width:40px;
    height:2px;
    background-color: rgb(222, 213, 213);
    margin:auto;
}
.testimonial-head div:nth-child(3){
    width:80px;
    height:2px;
    background-color: rgb(222, 213, 213);
    margin:auto;
    margin-top: 3px;
}

.testimonial-content{
    width: 756px;
    margin: auto;
    overflow: hidden;
}
.testimonial-content .container1 {
    width: 2269px;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    overflow-x: hidden;
}
.testimonial-content .container1 .slides-box{
    text-align: center;
    height: 250px;
    background-color:rgb(245,245,245);
    margin-top: 100px;
    width: 100%;
    transition: all 0.6s ease-in-out;
    padding-bottom:20px ;
}
.testimonial-content .slides-box .images{
    border-radius: 50%;
    width:100px;
    overflow: hidden;
    margin: auto;
    margin-top: -60px;
    box-shadow: 2px 0px 12px 2px rgb(245,245,245);
}
.testimonial-content .slides-box img{
    height: 100px;
    width: 100px;
    filter: grayscale(1);
}
.testimonial-content .slides-box h4{
    margin-top: 20px;
    margin-bottom: 10px;
}
.testimonial-content .slides-box p{
   font-size: 14px;
   width: 80%;
   margin: auto;
}
.testimonial-content .slides-box p:nth-child(3){
    margin-bottom: 15px;
}
.testimonial-content .slides-box p:nth-child(4){
    margin-bottom: 10px;
}
.slide-navbar {
   
    width: 125px;
    display: flex;
    margin: auto;
    margin-top: -51px;
    margin-bottom: 28px;
    z-index: 2;
    position: relative;
}
.slide-navbar span{
    width:25px;
    height:4px;
    border-radius: 3px;
    background-color:rgb(151,151,151);
    display: block;
    margin: 8px;
}
.slide-navbar span:hover{
    background-color: rgb(114,114,114);
}
.next,.prev{
    background: none;
    border: none;
    font-size: 30px;
    color:rgb(114,114,114);
    cursor: pointer;
}
.next{
    top: -153px;
    position: relative;
    left: 1113px;
}
.prev{
    bottom: -231px;
    position: relative;
    z-index: 2;
    left: 6px;
}

/* ========================================================== Testimonial Section End =========================================================== */


/* ========================================================== Blog Section start =========================================================== */

.blog{
    width: 100%;
    background-color:rgb(245,245,245);
    padding-top: 100px;
    padding-bottom: 100px;
}
.blog-head{
    text-align: center;
    padding-bottom: 50px;
}
.blog-head div:nth-child(2){
    width:40px;
    height:2px;
    background-color: rgb(222, 213, 213);
    margin:auto;
}
.blog-head div:nth-child(3){
    width:80px;
    height:2px;
    background-color: rgb(222, 213, 213);
    margin:auto;
    margin-top: 3px;
}

.blog-content{
    width:85%;
    margin: auto;
    display:flex;
}
.blog-content .box{
    width:28%;
    margin:auto;
    overflow: hidden;
    border: 1px solid rgb(222, 213, 213);
    padding-bottom: 30px;
    /* box-shadow: -1px 1px 21px -1px rgb(222, 213, 213); */
    box-shadow: 1px 0px 4px 2px rgb(219,219,219);
}
.blog-content .box:hover{
    box-shadow: 1px 5px 41px 5px rgb(222, 213, 213);
    transition: all 0.6s ease-in-out;
}
.blog-content .box img{
    width: 100%;

}
.blog-content .box .content-upper{
    display: flex;
    width: 100%;
}
.blog-content .box .content-upper div{
    display: flex;
    width:50%;
    padding-top: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(151,151,151);
    font-size: 13px;
    color:rgb(151,151,151);
    padding-left: 10px;
    padding-right: 10px;
}
.blog-content .box .content-upper i{
   margin-right: 10px;
}
.blog-content .box .content-upper div:nth-child(2){
    text-align: right;
    justify-content: right;
}
.blog-content .box .content-lower{
    display:flex;
    padding-right:10px;
    padding-left: 10px;
    padding-top: 30px;
}
.blog-content .box .content-lower p{
    font-size: 20px;
    color:rgb(151,151,151);
}
.blog-content .box .content-lower p:nth-child(2){
    color:black;
}

/* ========================================================== Blog Section End =========================================================== */